{% extends 'base.twig' %}

{% form_theme form  'Form/form.twig' %}

{% block content %}
<div class="formContainer" > 
    <form novalidate method="post">

        <fieldset>
            <legend> Ingrese sus crendenciales de acceso  </legend>

            <div class="control-group">
                {{ form_label(form.username, 'ID del cliente') }}
                <div class="controls">
                    {{ form_widget(form.username, { 'attr': {'class': 'input-xlarge'} } ) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_label(form.password, 'Contraseña') }}
                <div class="controls">
                    {{ form_widget(form.password, { 'attr': {'class': 'input-xlarge'} } ) }}
                </div>
            </div>
            {{ form_rest(form) }}

            <input type="submit" name="submit" class="btn btn-large btn-primary"/>
        </fieldset>

        {% if form_errors(form)|length > 0 %}
        <div class="alert alert-error" >
            {{ form_errors(form) }}
        </div>
        {% endif %}   

        {% if customError is not empty %}
        <div class="alert alert-error" >
            {{ customError }}
        </div>
        {% endif %}   


    </form>




</div>	
{% endblock %}





